language: node_js

node_js:
  - "12"

cache:
  yarn: true

before_install:
  - npm install -g gatsby-cli

install:
  - yarn

script:
  - yarn build

deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  target_branch: master
  on:
    branch: source
