<article class="category-card {{ page.class }}{% unless include.category.cover %} no-image{% endunless %}">
    {% if include.category.cover %}
        <a class="category-card-image-link" href="{{ site.baseurl }}category/{{ include.category.permalink | remove_first: '/' }}">
            <div class="category-card-image" style="background-image: url({{ site.baseurl }}{{ include.category.cover }})"></div>
        </a>
    {% endif %}
    <div class="category-card-content">
        <a class="category-card-content-link" href="{{ site.baseurl }}category/{{ include.category.permalink | remove_first: '/' }}">
            <header class="category-card-header">
                <h2 class="category-card-title">{{ include.category.name }}</h2>
            </header>
            <section class="category-card-description">
                <p>{{ include.category.description | strip_html | truncatewords: 33, "" }}</p>
            </section>
        </a>
    </div>
</article>